@model IEnumerable<BookSpotUser.Data.BookSpotUserEntity>

@{
    ViewData["Title"] = "Booked Desks";
}

<p style="margin-top: 50px;">
<h3>Historia Twoich rezerwacji</h3>

@* <p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p> *@

<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th>Imię</th> -->
            <!-- <th>Nazwisko</th> -->
            <th>Data rezerwacji</th>
            <th>Numer biurka</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!-- <td>@Html.DisplayFor(modelItem => item.FirstName)</td> -->
                <!-- <td>@Html.DisplayFor(modelItem => item.LastName)</td> -->
                <td>@item.BookedDate.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.DeskId)</td>
                <td>
                    @if (item.BookedDate > DateTime.Now)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Anuluj</a>
                    }
                    else
                    {
                        <span class="text-muted">Nie można anulować</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
